@use postcss-nested;

.container {
  display: flex;
  background: transparent;
  color: white;
  padding: 0;

  &:disabled {
    background: transparent;
    color: white;
    border: none;
    cursor: inherit;
  }
}
