.container
  position: relative
  display: flex
  white-space: nowrap
  left: -400%
  opacity: 0
  width: 0px
  transition: all 200ms ease-in-out

.open
  /*transition: all 200ms ease-in-out */
  /*display: block */
  left: initial
  width: auto
  opacity: 1
