.container {
  composes: container from "~style/auth.css";
}

.box {
  composes: box from "~style/auth.css";
}

.fields {
  composes: fields from "~style/auth.css";
}

.field {
  composes: field from "~style/auth.css";
}

.actions {
  composes: actions from "~style/auth.css";
}

.links {
  composes: links from "~style/auth.css";
}

.link {
  composes: link from "~style/auth.css";
}

@media screen and (width > 1000px) {
  .box {
    composes: box from "~style/auth.css";

    width: 691px;
  }

  .fields {
    composes: fields from "~style/auth.css";
  }

  .field {
    composes: field from "~style/auth.css";
  }

  .links {
    composes: links from "~style/auth.css";
  }

  .link {
    composes: link from "~style/auth.css";
  }
}
