{
  "presets": [
    ["@babel/react", {
      "pragma": "h"
    }],
    ["@babel/env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/transform-runtime",
    "@babel/proposal-class-properties",
    ["@babel/proposal-object-rest-spread", {
      "useBuiltIns": true,
    }],
    ["module-resolver", {
      "root": ["src"]
    }]
  ]
}
