.DS_Store
node_modules
coverage
yarn-error.log

/config/**/*.yaml
/config/**/*.yml

/static/assets/js/**/*.js
/static/assets/css/**/*.css
/static/view/**
/test
/core
/module

!/config/**/default.yaml
!/config/**/default.yml
stats.json
