.DS_Store
node_modules
coverage
yarn-error.log
*.old

/config/**/*.yaml
/config/**/*.yml

/static/assets/js/**/*.js
/static/assets/css/**/*.css
/test
/core
/module

!/config/**/default.yaml
!/config/**/default.yml
stats.json
static/index.html
