{
  "build/**/*.js": "node_modules/.bin/eslint --fix",
  "server/**/*.js": "node_modules/.bin/eslint --fix",
  "src/**/*.{js,jsx,mjs}": "node_modules/.bin/eslint --fix",
  ".eslintrc.js": "node_modules/.bin/eslint --fix",
  ".babelrc.js": "node_modules/.bin/eslint --fix",
  ".postcssrc.js": "node_modules/.bin/eslint --fix",

  "src/**/*.{scss,css}": "node_modules/.bin/stylelint --fix"
}
