.container {
  --base-size: 48px; /* TODO: Update with */

  display: flex;
  flex-direction: column;
  width: var(--base-size);
  height: 100vh;
  color: white;
  background: var(--color-primary);
  user-select: none;
}

.item {
  display: flex;
  width: var(--base-size);
  height: var(--base-size);
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* FIXME: replace with actual elements */
.spacing {
  display: flex;
  flex: 1;
}
