@use postcss-simple-vars
@use postcss-nested

$fieldWidth: 240px
$buttonWidth: 246px

@media screen and (width >= 1000px)
  .container
    lost-center: 1000px

    width: 1000px

  .field
    width: $fieldWidth

  .button
    width: $buttonWidth

  .link
    &-login
      width: $fieldWidth
      float: left
      text-align: left

    &-recover
      width: $buttonWidth
      float: right
      text-align: center
