@use postcss-simple-vars;
@use postcss-nested;

$containerWidth: 1000px;
$fieldWidth: 240px;

@custom-media --formDesktop (width >= 1000px);

@media screen and (width >= 1000px) {
  .container {
    width: 1000px;
  }

  .field input {
    width: $fieldWidth;
  }

  .button {
    width: 246px;
  }

  .link {
    &-login {
      width: $fieldWidth;
      float: left;
      text-align: left;
    }
  }
}
