@import "normalize.css"

@use postcss-nested
@use postcss-font-magician

html, body
  font: 14px Roboto // stylelint-disable-line

button, textarea, input
  &:focus, &:active
    outline: none

a
  &, &:hover, &:visited &:active
    color: #653089
    text-decoration: none
