.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.message {
  text-align: center;
  border: 1px green solid;
  border-left: none;
  border-right: none;
  padding: var(--spacing-m);
}

.failed {
  border-color: red;
}
