@use postcss-nested

.container
  box-sizing: border-box
  padding: 6px 0

  input
    box-sizing: inherit
    width: 100%
    padding: 15px 20px
    border: 1px #d4d4d4 solid

@media screen and (width >= 900px)
  .container
    float: left
    width: 300px

    padding: 6px 12px 6px 0
