@use postcss-nested;

.container {
  margin-bottom: 10px;

  input {
    width: 100%;
    padding: 15px 20px;
    border: 1px #d4d4d4 solid;
  }
}

@media screen and (width >= 900px) {
  .container {
    margin: 0;
    padding: 0 10px 0 0;

    input {
      width: 300px;
    }
  }
}
