@use postcss-nested;

.container {
  width: 100%;
  border: 1px solid #ebecf0;
  padding: var(--spacing-s);
  transition: border-color 190ms linear;

  &:focus:not(.invalid) {
    border-color: var(--color-primary)
  }
}

/* TODO: Add colors for red */
.invalid {
  border-color: red;
}
