@use postcss-nested

.container
  width: 50px
  height: 100vh
  background: #daade8
  box-sizing: border-box
  user-select: none
  text-align: center
  color: white
  font-weight: bold
  text-transform: uppercase
  padding: 10px 0

  a
    color: white
