@import "normalize.css"

@use postcss-nested

@lost flexbox flex

html, body
  width: 100%
  height: 100%

button, textarea, input
  &:focus, &:active
    outline: none


:global #twi-root
  width: 100%
  height: 100%

.container
  display: flex
  lost-column: 1
  lost-row: 1
