@use postcss-simple-vars;
@use postcss-nested;

@lost flexbox flex;

$containerWidth: 900px;
$fieldWidth: 300px;

@media screen and (width >= 900px) {
  .container {
    lost-center: $containerWidth;

    width: $containerWidth;
  }

  .field {
    width: $fieldWidth;
  }

  .recover {
    padding-left: 30px;
  }
}
