@use postcss-nested

.container
  width: 100%
  padding: 8px 0

.primary
  width: inherit
  color: white
  background: #653089
  padding: 16px 40px
  border: 0
  cursor: pointer

  &:disabled
    background: #e8e8e8
    color: black
    cursor: not-allowed

@media screen and (width >= 900px)
  .container
    float: left
    width: 267px

    padding: 6px 0
