@use postcss-nested;

.container {
  background: white;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 16px 24px;
  cursor: pointer;

  &:disabled {
    background: #e8e8e8;
    color: black;
    cursor: not-allowed;
  }
}

.wide {
  width: 100%;
}
