@use postcss-nested;

.container {
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: var(--spacing-s) var(--spacing-m);
  cursor: pointer;

  &:disabled {
    background: #e8e8e8;
    color: black;
    cursor: not-allowed;
  }
}

.wide {
  width: 100%;
}
