@use postcss-nested

@lost flexbox flex

.container
  lost-center: 300px
  lost-align: middle-center

  width: 300px
  text-align: center
  box-sizing: border-box

.content
  width: 100%

.image
  width: 100%

  svg
    display: inline-block
    vertical-align: top

.message
  padding: 20px 0 0
  font-size: 105%

.code
  font-size: 270%

  &::before
    overflow: hidden
    content: "···"
    display: flex
    font-size: 80%
    color: #653089
    height: 28px
    justify-content: center
