@use postcss-nested;

.container {
  width: 100%;
  height: 48px;

  a {
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
  }
}

.active {
  &:hover {
    background: transparent;
  }

  &::after {
    border-left: 2px white solid;
  }
}
