@use postcss-nested;
@use postcss-simple-vars;

@lost flexbox flex;

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.body {
  width: 300px;
}

.content {
  box-sizing: border-box;
  padding: 10px 16px;
}

@media screen and (width >= 900px) {
  .body {
    width: 900px;
  }
}

