@use postcss-nested
@use postcss-simple-vars

@lost flexbox flex

.container
  lost-center: 300px
  lost-align: middle-center

  width: 300px

.body
  width: 100%

.content
  box-sizing: border-box
  padding: 10px 16px
