@use postcss-nested
@use postcss-simple-vars

@lost flexbox flex

.container
  lost-center: 512px
  lost-align: middle-center

  width: 512px

.body
  width: 100%

.title
  text-align: left

// Primary button
.button
  &-primary
    color: white
    background: #653089
    padding: 16px 40px
    border: 0
    cursor: pointer
