@import-normalize;

@use postcss-nested;

* {
  box-sizing: border-box;
}

html, body {
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

button, textarea, input {
  font: inherit;

  &:focus, &:active {
    outline: none;
  }
}

a {
  &, &:hover, &:visited &:active {
    color: var(--color-interactive);
    text-decoration: none;
  }
}
